.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.view-toggle {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 10px;
    border-bottom: 1px solid #000;
}

.view-toggle > button {
        outline: none;
        border: none;
        background: none;
        font-size: 1rem;
}

.view-toggle > button:hover {
    cursor: pointer;
}

#defaultMessage {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    letter-spacing: 1px;
    font-size: 2rem;
}

@media(max-width: 415px){
    #defaultMessage {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
}