.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.view-toggle {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 10px;
    border-bottom: 1px solid #000;
}

.view-toggle > button {
        outline: none;
        border: none;
        background: none;
        font-size: 1rem;
}

.view-toggle > button:hover {
    cursor: pointer;
}