.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #7FBEEB;
    border-bottom: 2px solid #949494;
    color: #fff;
}

#title {
    margin-left: 1%;
}

.btn {
    outline: none;
    border: none;
    background: none;
    font-size: 0.7rem;
    color: #fff;
    margin-bottom: 5px;
    margin-right: 1%;
}

.btn:hover {
    cursor: pointer;
}