.form {
    height: 100%;
}

.form > h1 {
    margin-top: 40px;
}

.form-container {
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

span > label {
    margin-right: 10px;
}

.submit-btn {
    padding: 5px 10px;
    outline: transparent;
    border: none;
    border-radius: 7px;
    background-color: #EDEAD0;
    font-weight: 400;
    font-size: 0.9rem;
}

.submit-btn:hover {
    cursor: pointer;
}