* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    background-color: #EDEAD0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}
