.slider {
    width:300px;
    height: 500px;
    position: fixed;
    background-color: #7FBEEB;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 3px rgba(77, 77, 77, 0.7);
    color: #fff;
    text-align: center;
    z-index: 100;
}

.out {
    right: 0.5%;
    transition:  right 1s ease-out;
}

.in {
    right: -150%;
    transition: right 1s ease-in;
}

.slider > h1 {
    position:absolute;
    right: 15px;
}

.slider > button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
}

.slider > button:hover {
    cursor: pointer;
}

.slider > button > i {
    font-size: 20px;
}

@media(max-width:415px){
    .slider {
        width: 270px;
        height: 70%;
        position: fixed;
        background-color: #7FBEEB;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 3px rgba(77, 77, 77, 0.7);
        color: #fff;
        text-align: center;
    }
}

@media(min-width:416px) and (max-width:800px){
    .slider {
        width: 300px;
        height: 500px;
        position: fixed;
        background-color: #7FBEEB;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 3px rgba(77, 77, 77, 0.7);
        color: #fff;
        text-align: center;
    }
}

@media (orientation:landscape) and (max-height: 415px) {
    .slider {
        width:450px;
        height: 250px;
        position: fixed;
        top:75px;
        background-color: #7FBEEB;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 3px rgba(77, 77, 77, 0.7);
        color: #fff;
        text-align: center;
        z-index: 100;
    }
}